@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

body{
    background-color: #eee;
    font-family: Source Sans Pro;
    border:#eee
}

.newspaper-container{
    width: 700px;
    border-radius: 3%;
    background-color: white;
    box-shadow:1px 1px 5px #ddd;
    padding: 40px 100px 40px 100px;
    border: black 10px;
    display: inline-block;
    margin-left: 200px;

}

main h2{
    font-family: Roboto Slab;
    
}

main h5{
    color:#dd3232;
}

h1{
    font-family: Abril Fatface;
    text-align: center;
}

li{
    color:#777;
    margin-left: 10px;
    display: inline-block;
    padding: 2px;
    font-size: smaller;
    font-weight: 800;
    
   
}
ul{
    border-style: solid none solid none;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

nav {
    position: sticky;
    top: 1em;
    background-color: #ddd;
}

.more-articles section{
    display: inline-block;
    border: solid black;
    width: 44%;
    margin: 0 1em;
}

.more-articles{
    border-top: 1px solid #eee;
    margin-top: 1.5em;
    text-align: center;
}

.three-articles{
    border-top 1px solid #eee;
    margin-top: 1.5em;
    text-align: center;
}

.three-articles section{
    display: inline-block;
    border: solid black;
    width: 24%;
    margin: 10 3em;
}

footer{
    display: block;
    width: 900px;
    height: 100px;
    margin: 1 3em;
    text-align:;
    padding: 3px;
    background-color: salmon;
    color: white;
}
